<div class="depot_form">
  <fieldset>
    <legend><%= t('.legend') %></legend>
    <%= form_for(user) do |f| %>
      <%= render partial: 'shared/error', locals: { object: user } %>
      <div class="field">
        <%= f.label :name, t('.name') %>
        <%= f.text_field :name, size: 40 %>
      </div>

       <div class="field">
        <%= f.label :email, t('.email') %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, t('.password') %>
        <%= f.password_field :password, size: 40 %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, t('.confirm') %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </div>

      <div class="field">
         <%= t('.address') %>
        <ul class="none">
          <%= f.fields_for :address do |address_form| %>
            <li>
              <%= address_form.label :state, t('.state') %>
              <%= address_form.text_field :state %>
            </li>
            <li>
              <%= address_form.label :city, t('.city') %>
              <%= address_form.text_field :city %>
            </li>
            <li>
              <%= address_form.label :country, t('.country') %>
              <%= address_form.text_field :country %>
            </li>
            <li>
              <%= address_form.label :pincode, t('.pincode') %>
              <%= address_form.number_field :pincode, size: 6 %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="actions">
        <%= f.submit t('.submit') %>
      </div>
    <% end %>
  </fieldset>
</div>
