<div class="depot_form">
  <fieldset>
    <legend>Enter User Details</legend>
    <%= form_for(user) do |f| %>
      <%= render partial: 'shared/error', locals: { object: user } %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, size: 40 %>
      </div>

       <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, size: 40 %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'Confirm' %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </fieldset>
</div>