<h2>Welcome, <%= current_user.name.capitalize %> </h2>
<h4>Your Orders</h4>
<table class="table table-responsive">
  <thead>
    <th>Order.No</th>
    <th>Number of Items</th>
    <th>Order Date ( mm-dd-yyyy )</th>
    <th>Total Price</th>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.line_items.size %></td>
          <td><%= order.created_at.strftime('%d-%m-%Y') %></td>
          <td><%= number_to_currency(order.gross_total) %></td>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>