<h2>Welcome, <%= current_user.name.capitalize %> </h2>
<h4>Your Orders</h4>
<% if @orders.present? %>
  <% @orders.each do |order| %>
    <div class="panel">
      <h4>Order Id: <%= order.id %></h4>
      <div class="panel-body">
        <h4>No.of Items(<%= order.line_items.size %>)</h4>
        <hr>
        <h4>Item Details:</h4>
        <ol>
          <% order.line_items.each do |item| %>
            <li><%= item.product.title %> (x <%= item.quantity %>)</li>
          <% end %>
        </ol>
      </div>
      <div class="panel-footer">
        Total Price: <%= number_to_currency(order.gross_total) %></div>
    </div>
    <br>
  <% end %>
<% else %>
  <h3>No Orders exists !</h3>
<% end %>