<%= form_for(product) do |f| %>
  <%= render partial: 'shared/error', locals: { object: product } %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, cols: 50 %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :enabled %>
    <%= f.check_box :enabled %>
  </div>

  <div class="field">
    <%= f.label :discount_price %>
    <%= f.text_field :discount_price %>
  </div>

  <div class="field">
    <%= f.label :permalink %>
    <%= f.text_field :permalink %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: t('.category_prompt') %>
  </div>

  <div class="field">
    Images:
    <ul class="none">
      <%= f.fields_for :images do |image_form| %>
        <li>
          <%= image_form.label :image %>
          <%= image_form.file_field :image %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
