<%= render partial: 'shared/error', locals: { object: @product } %>
<%= render partial: 'shared/flash' %>
<%= render partial: 'slider' %>
<div class="product-details">
  <p>
    <strong><%= t('.title') %></strong>
    <%= @product.title %>
  </p>

  <p>
    <strong><%= t('.description') %></strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>

  <p>
    <strong><%= t('.price') %></strong>
    <%= @product.price %>
  </p>
</div>

<%= link_to t('.edit'), edit_product_path(@product) %> |
<%= link_to t('.back'), products_path %>
