<%= form_for(order) do |f| %>
  <%= render partial: 'shared/error', locals: { object: order } %>
  <div class="field">
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :address, t('.address_html') %>
    <%= f.text_area :address, rows: 3, cols: 40 %>
  </div>

  <div class="field">
    <%= f.label :email, t('.email') %>
    <%= f.email_field :email, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :pay_type, t('.pay_type') %>
    <%= f.select :pay_type, Order.pay_types.keys,
      prompt: t('.pay_prompt_html') %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
