<p id="notice"><%= notice %></p>
<h1><%= t('.heading') %></h1>
<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <div class="entry">
        <%= form_for :rating, html:{ class: 'ratings'} do |form|%>
          <%= form.select "Ratings", options_for_select((0..5).step(0.5), "Select Ratings") %>
        <% end %>
        <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= button_to t('.addtocart'), line_items_path(product_id: product, locale: I18n.locale), remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
